.DS_Store

#ignore build file
*.o
*.d
*.bin
*.elf

#ignore the toolchain & lib due to copyright? and cross plantform compatibility
Code/arm-none-eabi/
Code/STM32F10x_StdPeriph_Lib_V3.5.0/
Code/build

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
*.job
*.pro
